
.checkbox
{
    display: block;
    position: relative;
}
.checkbox .field
{
    position: absolute;
    top: 0px; bottom: auto;

    min-width: 24px !important; min-height: 24px !important;
    max-width: 24px !important; max-height: 24px !important;
}
.checkbox .name
{
    display: block;
    margin: 0px 0px 0px 40px; align-content: center;

    min-height: 24px; max-height: 24px;
    color: var(--app-text-primary);
}
.checkbox .description
{
    display: block;
    margin: 0px 0px 0px 40px;

    color: var(--app-text-secondary);
}