
.button-label
{
    padding: 0px !important;
}
.button-label > label
{
    color: var(--app-text-button);   
    padding: 0px;

    width: 100%;
    height: 40px; align-content: center;
}
.button-label > label > img
{
    width: 32px; height: 32px;
    padding: 0px 12px 0px 0px;
    filter: invert();
}