
.navbar
{
    position: absolute;
    width: 100%; height: 56px;
    overflow: visible;

    background-color: var(--app-background-secondary);
    border: var(--app-border-primary);
    border-width: 0px 0px 1px 0px;
    padding: 4px calc(var(--app-spacing-3) * 12);

    display: block;
}
.navbar > div
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: var(--app-spacing-3);
}
.navbar .branding
{
    display: block;
}
.navbar .branding > label
{
    font-weight: bold;
}
.navbar .search 
{
    width: 100%;
}
.navbar .search > input
{
    width: 100%;
}
.navbar .profile > img
{
    width: 48px; height: 48px;
}
.navbar .context-menu
{
    position: fixed;
    width: 192px;
    z-index: 100;
    margin-top: 56px;

    overflow: visible;    

    background-color: var(--app-background-secondary);
    border: var(--app-border-primary);
    border-radius: var(--app-radius-2);
    padding: var(--app-spacing-2);
}
.navbar .context-menu > *
{
    width: 100%;
    margin-bottom: 4px;
}
.navbar .flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


@media (max-width: 512px)
{
    .navbar .branding > label
    {
        display: none;
    }
}

@media (max-width: 1152px)
{
    .navbar
    {
        padding: 0px calc(var(--app-spacing-3) * 6);
    }
}
@media (max-width: 768px)
{
    .navbar
    {
        padding: 0px var(--app-spacing-3);
    }
    .navbar > div
    {
        gap: var(--app-spacing-2);
    }
}
@media (max-width: 512px)
{
    .navbar > div
    {
        gap: var(--app-spacing-1);
    }
    .navbar > .profile > label
    {
        display: none;
    }
}