
.component-navbar
{
    position: absolute;
    width: 100%; height: 48px;

    background-color: var(--app-background-secondary);
    border: var(--app-outline-primary);
    border-width: 0px 0px 1px 0px;
    padding: 0px 96px;

}
.component-navbar > div
{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-items: center; 
    justify-content: center;

    position: relative;
    gap: 12px;
}

.component-navbar-logo
{
    min-width: 40px; min-height: 40px;
    max-width: 40px; max-height: 40px;
}
.component-navbar-title
{
    width: auto;
}
.component-navbar-widen
{
    flex-grow: 1;

    display: flex; flex-direction: row; flex-wrap: nowrap; 
    align-items: center; justify-content: center;
    gap: 8px;
}
.component-navbar-search
{
    width: 100% !important;
    max-width: 384px !important;
}
.component-navbar-menu
{
    min-width: 40px !important; min-height: 40px !important;
    max-width: 40px !important; max-height: 40px !important;

    padding: 0px !important;
}
.component-navbar-menu > img
{
    filter: invert();
}
.component-navbar-profile:enabled
{
    background-color: transparent !important;
    border: var(--app-button-border) !important;

    min-width: 40px !important; min-height: 40px !important;
    padding: 0px !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.component-navbar-profile:hover
{
    border: var(--app-button-border-hover) !important;
}
.component-navbar-profile:active
{
    border: var(--app-button-border-active) !important;
}
.component-navbar-profile > img
{
    width: 40px; height: 40px;
    background-color: var(--app-background-secondary);
    border-radius: 100%;

    padding: 4px 4px;
}
.component-navbar-profile > label
{
    padding: 4px 8px;
    pointer-events: none;
}
@media (max-width: 1152px)
{
    .component-navbar
    {
        padding: 0px 24px;
    }
}
@media (max-width: 768px)
{
    .component-navbar
    {
        padding: 0px 12px;
    }
}
@media (max-width: 512px)
{
    .component-navbar-profile > label
    {
        display: none;
    }
}