
.page-settings .menu-common > *
{
    margin-bottom: var(--app-spacing-2);
}
.page-settings .menu-common > header > h1
{
    font-size: 2rem;
    font-weight: bold;
    color: var(--app-text-primary);
}
.page-settings .menu-common > header > p
{
    font-size: 1rem;
    font-weight: normal;
    color: var(--app-text-secondary);
}
.page-settings .menu-common > main > *
{
    margin-bottom: var(--app-spacing-1);  
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-settings .menu-common > main > .class-input
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    gap: 0px;
}
.page-settings .menu-common > main > .class-input > p
{
    min-width: 128px;
    flex-grow: 1;
}
.page-settings .menu-common > main > .class-input > input
{
    flex-grow: 2;
}
.page-settings .menu-common > main > .class-input > *
{
    margin: 0px;
}