
.tag-bar
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--app-spacing-1);
}
.tag-bar > button
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--app-spacing-2);

    min-height: 40px;
    align-items: center;
    justify-content: start;

    font-size: 1rem;
    background-color: var(--app-button-primary-background);
    border: var(--app-button-primary-border);
    border-radius: var(--app-button-primary-radius);
    color: var(--app-text-button);
}
.tag-bar > button > img
{
    height: 24px;
}

.tag-bar > .normal
{
    background-color: transparent;
    border: 1px solid green;
    color: var(--app-text-primary);
}
.tag-bar > .active
{
    background-color: green;
}