
.visopt
{
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
}
.visopt > button
{
    min-width: 40px;
    min-height: 40px;

    margin: 0px !important;
    padding: 0px !important;

    border: var(--app-border-primary);
    border-radius: var(--app-button-primary-radius);
}
.visopt > button:first-child
{
    border-radius: 
        var(--app-button-primary-radius)
        0px
        0px
        var(--app-button-primary-radius);
}
.visopt > button:last-child
{
    border-radius: 
        0px
        var(--app-button-primary-radius)
        var(--app-button-primary-radius)
        0px;
}
.visopt > button > img
{
    width: 32px;
    height: 32px;
    padding: 4px;
    pointer-events: none;
}

.visopt .normal
{
    background-color: var(--app-button-primary-background-active);
}
.visopt .normal > img
{
    filter: invert();
    opacity: 0.5;
}
.visopt .active
{
    background-color: var(--app-button-primary-background);
}
.visopt .active > img
{
    filter: invert();
    opacity: 1.0;
}