
.component-navbar
{
    width: 100%; height: 100%;
}
.component-navbar-inner
{
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    width: 100%; height: 100%;

    padding: 0px 48px 0px 48px;
    box-sizing: border-box;
    gap: 24px;
}
.component-navbar-inner .logo
{
    width: 40px; height: 40px;
}
.component-navbar-inner .search
{
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    flex-grow: 1;
}