
.component-navbar
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;

    width: auto; max-width: 100%;
    height: 48px; max-height: 48px;
    padding: 4px;

    background-color: var(--bg-secondary);
}
.component-navbar-inner
{
    display: flex; flex-direction: row;
    width: 100%; height: 100%;
}
.component-navbar-inner > *
{
    margin: 0px 12px 0px 0px;
}
.component-navbar-inner > *:first-child
{
    margin: 0px 12px 0px 12px;
}
.component-navbar-inner > *:last-child
{
    margin: 0px 12px 0px 0px;
}