
.component-profilecard
{
    display: inline-block;

    margin: 0px; padding: 0px;
    max-width: 192px; min-height: 40px; max-height: 40px;
    overflow: visible;
}
.component-profilecard > .container
{
    margin: 0px; padding: 0px;
    width: 100%; height: 100%;
    padding: 4px;
}
.component-profilecard > .container > .icon
{
    width: 32px; height: 32px;
    border-radius: 100%;
}
.component-profilecard > .container > .text
{
    color: var(--text-primary);
    margin: 0px 12px;
}

.component-profilecard > .context
{
    position: fixed;
    margin: 0px; padding: 0px;
    width: 144px;

}
.component-profilecard > .context > button
{
    width: 100%; height: 40px;
    text-align: left;
}
.component-profilecard > .context > button:first-child
{
    margin: 12px 0px 0px 0px;
}


.component-profilecard .icon
{
    width: 40px; height: 40px;
}
.component-profilecard .name
{
    display: block; flex-grow: 1;
    margin: 0px 0px 0px 12px;
    height: 40px;
    align-content: center;
}