
.component-profilecard
{
    display: inline-block;

    width: 192px; height: 48px;

    display: flex; flex-direction: row;
    align-items: center;

    background-color: var(--bg-secondary);
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}
.component-profilecard .icon
{
    width: 40px; height: 40px;
}
.component-profilecard .name
{
    display: block; flex-grow: 1;
    margin: 0px 0px 0px 12px;
    height: 40px;
    align-content: center;
}