
.page-admin
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    width: 100%; height: 100%;

    background-color: var(--bg-primary);
}
.page-admin .header
{
    position: absolute;
    top: 0px; bottom: auto;
    left: 0px; right: 0px;

    width: 100%; height: 100%; max-height: 56px;
    outline: 1px solid grey;
}
.page-admin .menu
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: auto;
    margin: 56px 0px 0px 0px;

    width: 100%; max-width: 30%; 
}
.page-admin .menu-button
{
    display: none;
}
.page-admin .content
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: auto; right: 0px;
    margin: 56px 0px 0px 0px;

    width: 100%; max-width: 70%; 
    overflow-y: scroll;
}
.page-admin .content-dashboard .item
{
    display: flex; flex-direction: row; flex-wrap: wrap;
    align-items: center; justify-content: center;
}
.page-admin .content-dashboard .item-child
{
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    outline: 1px solid grey;
    width: 144px; height: 128px;
    margin: 4px;
}
.page-admin .content-dashboard .item-child .value
{
    position: absolute;
    inset: 0px 0px 0px 0px; 
    margin: 24px 24px 24px 24px;
    text-align: center;
    font-size: 2.5rem;

}
.page-admin .content-dashboard .item-child .title
{
    position: absolute;
    inset: auto 0px 0px 0px;
    margin: 0px 12px 12px 12px;
    text-align: center;

}

.page-admin .content-account-data label
{
    width: 128px;
}

@media (max-width: 680px)
{
    .page-admin .menu 
    {
        top: 0px; bottom: 0px;
        left: 0px; right: 0px;

        background-color: rgba(0,0,0,0.75);
    
        width: 100%; max-width: 100%;
        height: auto; max-height: 100%;

        color: white;
    }
    .page-admin .menu-button
    {
        display: block;
    }
    .page-admin .content
    {
        top: 0px; bottom: 0px;
        left: 0px; right: 0px;

        width: 100%; max-width: 100%;
        height: auto; max-height: 100%;
    }
}

/* ------------------------------- */

.page-admin .header-inner
{
    width: 100%; height: 100%;
    background-color: var(--bg-secondary);

    display: flex; flex-direction: row;
    padding: 4px 24px 4px 24px;
    box-sizing: border-box;

    align-items: center;
}
.page-admin .menu-inner
{
    width: 100%; height: 100%;
    padding: 24px; box-sizing: border-box;

    margin: 0px 0px 0px auto;
    width: 100%; max-width: 288px;

}
.page-admin .content-inner
{
    width: 100%; height: 100%;
    padding: 24px; box-sizing: border-box;

    margin: 0px auto 0px 0px;
    width: 100%; max-width: 210mm;
    height: auto;
}

@media (max-width: 680px)
{
    .page-admin .menu-inner
    {
        margin: 0px;
        width: 100%; max-width: 100%;
    }
    .page-admin .content-inner
    {
        margin: 0px;
        width: 100%; max-width: 100%;
    }
}
/* ------------------------------- */