
.page-job
{
    position: absolute; inset: 0px;
}
.page-job > *
{
    max-width: 148mm;
    margin: 0px auto;
}
.page-job .filter
{
    width: 100%;
}
.page-job .filter-item
{
    width: 96px;
    border: 1px solid black;
    border-radius: 24px;
    margin: 4px;
}

.page-job .list-item
{
    display: block;
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 128px;
    margin-bottom: 4px;
}
.page-job .list-item .image
{
    position: absolute;
    inset: 0px 0px 0px 24px;
    margin: auto 0px;

    width: 96px; height: 96px;
}
.page-job .list-item .title
{
    position: absolute;
    inset: 0px 0px 0px 0px;
    margin: 12px 12px 0px 144px;
    text-align: left;

    color: var(--text-primary);
}
.page-job .list-item .description
{
    position: absolute;
    inset: 0px 0px 0px 0px;
    margin: 48px 12px 0px 144px;
    text-align: left;
    text-overflow: ellipsis;

    color: var(--text-secondary);
}