
.modal
{
    display: block;
    position: fixed; inset: 0;
    overflow: hidden;

    background-color: rgba(0,0,0,0.5);
    width: 100%; height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    opacity: 0;

    padding: var(--app-spacing-3);

    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
}
.modal > .inner
{
    width: 480px;

    max-width: 100%;
    max-height: 100%;
    pointer-events: all;

    overflow: hidden auto;
    
    background-color: var(--app-background-primary);
    border: var(--app-border-primary);
    border-radius: var(--app-radius-2);
    padding: var(--app-spacing-3);
}

@keyframes modal-show 
{
    0% 
    {
        display: none;
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes modal-hide
{
    0%
    {
        display: block !important;
    }
    100% 
    {
        display: none;
        opacity: 0;
    }
}