
.component-settings
{
    margin-bottom: 24px;
}
.component-settings .common-header
{
    margin-bottom: var(--app-spacing-2);
}
.component-settings .common-header-iconized
{
    margin-bottom: var(--app-spacing-2);
    
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
}

.component-settings .common-header > h1,
.component-settings .common-header > h2,
.component-settings .common-header-iconized > h1,
.component-settings .common-header-iconized > h2
{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--app-text-primary);
}
.component-settings .common-header > p
.component-settings .common-header-iconized > p
{
    font-size: 1rem;
    font-weight: normal;
    color: var(--app-text-secondary);
}

.component-settings .common-main
{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--app-spacing-1);
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.component-settings .class-input
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    gap: 0px;
}
.component-settings .class-input > p,
.component-settings .class-input > label
{
    min-width: 128px;
    width: 256px;
    flex-grow: 1;
}
.component-settings .class-input > input
{
    width: 100%;
    flex-grow: 2;
}
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.component-settings .class-input
{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    gap: var(--app-spacing-1);
}
.component-settings .class-input > p
{
    min-width: 128px;
    flex-grow: 1;
}
.component-settings .class-input > input
{
    flex-grow: 2;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


.component-settings .class-input-image-profile
{
    height: 256px;
    position: relative;
}
.component-settings .class-input-image-profile > img:nth-child(1)
{
    position: absolute; inset: 0px;
    outline: 1px solid grey;
    border: none;
    border-radius: 24px;
    background-color: var(--bg-secondary);

    object-fit: cover;
}
.component-settings .class-input-image-profile > img:nth-child(2)
{
    position: absolute; inset: 0px;
    outline: 2px solid white;
    background-color: white;
    border-radius: 100%;
    margin: auto;

    object-fit: cover;
}
.component-settings .class-input-image-profile-upload
{
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    gap: 12px;

    margin-top: var(--app-spacing-3);
    margin-bottom: var(--app-spacing-3);
}