
.page-admin
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    width: 100%; height: 100%;

    background-color: var(--bg-primary);
}
.page-admin .header
{
    position: absolute;
    top: 0px; bottom: auto;
    left: 0px; right: 0px;

    width: 100%; height: 100%; max-height: 56px;
}
.page-admin .menu
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: auto;
    margin: 56px 0px 0px 0px;

    width: 100%; max-width: 30%; 
}
.page-admin .content
{
    position: absolute;
    top: 0px; bottom: 0px;
    left: auto; right: 0px;
    margin: 56px 0px 0px 0px;

    width: 100%; max-width: 70%; 
    overflow-y: scroll;
}

@media (max-width: 512px)
{
    .page-admin .menu 
    {
        top: 0px; bottom: 0px;
        left: 0px; right: 0px;

        background-color: rgba(0,0,0,0.5);
    
        width: 100%; max-width: 100%;
        height: auto; max-height: 100%;

        color: white;
    }
    .page-admin .content
    {
        top: 0px; bottom: 0px;
        left: 0px; right: 0px;

        width: 100%; max-width: 100%;
        height: auto; max-height: 100%;
    }
}

/* ------------------------------- */

.page-admin .header-inner
{
    width: 100%; height: 100%;
    background-color: var(--bg-secondary);

    display: flex; flex-direction: row;
    padding: 4px 24px 4px 24px;
    box-sizing: border-box;

    align-items: center;
}
.page-admin .menu-inner
{
    width: 100%; height: 100%;
    padding: 24px; box-sizing: border-box;

    margin: 0px 0px 0px auto;
    width: 100%; max-width: 288px;

}
.page-admin .content-inner
{
    width: 100%; height: 100%;
    padding: 24px; box-sizing: border-box;

    margin: 0px auto 0px 0px;
    width: 100%; max-width: 210mm;
    height: auto;
}

@media (max-width: 512px)
{
    .page-admin .menu-inner
    {
        margin: 0px;
        width: 100%; max-width: 100%;
    }
    .page-admin .content-inner
    {
        margin: 0px;
        width: 100%; max-width: 100%;
    }
}
/* ------------------------------- */