
.page-error
{
    position: absolute;
    inset: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    background-color: var(--app-background-primary);
}