
.page-profile
{
    position: absolute; inset: 0px 0px 0px 0px;
    overflow: hidden hidden;

    background-color: var(--app-background-primary);
}
.page-profile > .not-found
{
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center; justify-content: center;
}
.page-profile > .not-available
{
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center; justify-content: center;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-profile > .theme-lavender
{
    width: 100%; height: 100%;
    display: block;
    overflow: hidden auto;

    background-color: rgb(31, 18, 36);
    
    padding: 24px 24px;
}
.page-profile > .theme-lavender > *
{
    margin: 0px auto;
    max-width: 210mm;
}
.page-profile > .theme-lavender .h1,
.page-profile > .theme-lavender .h2,
.page-profile > .theme-lavender .h3,
.page-profile > .theme-lavender .h4,
.page-profile > .theme-lavender .h5,
.page-profile > .theme-lavender .h6,
.page-profile > .theme-lavender .p,
.page-profile > .theme-lavender .label,
.page-profile > .theme-lavender .hr
{
    color: rgb(255, 206, 251);
}
.page-profile > .theme-lavender > header
{
    margin-bottom: 12px;
}
.page-profile > .theme-lavender > main
{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.page-profile > .theme-lavender > main .intro
{
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;

    width: 30%; max-width: 30%; height: 100%;
}
.page-profile > .theme-lavender > main .intro-icon
{
    display: block;
    width: 100%; height: 100%;
    max-width: 192px; max-height: 192px;
    object-fit: cover;
    border-radius: 100%;
}
.page-profile > .theme-lavender > main .intro-name
{
    margin: 12px;
}
.page-profile > .theme-lavender > main .intro-bio
{
    color: rgb(255, 206, 251);
    margin: 12px;

    text-align: center;
}
.page-profile > .theme-lavender > main .intro-block
{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
.page-profile > .theme-lavender > main .intro-block-text
{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: rgb(255, 206, 251);
}
.page-profile > .theme-lavender > main .intro-block-text > *:nth-child(1)
{
    padding-right: 12px;
    filter: invert();
}
.page-profile > .theme-lavender > main .intro-block-text > *:nth-child(2)
{
    flex-grow: 1;
}

@media (max-width: 768px)
{
    .page-profile > .theme-lavender > main .intro
    {
        width: 100%; max-width: 100%;
    }
}

.page-profile > .theme-lavender > main .content
{
    display: block;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
