
.page-profile
{
    position: absolute; inset: 0px 0px 0px 0px;

    background-color: var(--app-background-primary);
}
.page-profile > .not-found
{
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center; justify-content: center;
}
.page-profile > .error
{
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center; justify-content: center;
}