
.page-settings
{
    pointer-events: none;
    position: absolute; inset: 0px;
    overflow: hidden;

    background-color: var(--app-background-primary);
}
.page-settings > .menu
{
    position: absolute; inset: 0px 70% 0px 0px;
}
.page-settings > .menu > *
{
    max-width: 324px;
    margin: 0px auto;
    padding: 0px 12px;
    pointer-events: all;
}
.page-settings > .menu > *:first-child
{
    margin-top: var(--app-spacing-3);
}
.page-settings > .menu > *:last-child
{
    margin-bottom: var(--app-spacing-3);
}
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


.page-settings > .content
{
    position: absolute; inset: 0px 0px 0px 0px;
    overflow: hidden scroll;
}
.page-settings > .content > *
{
    max-width: 148mm;
    margin: 0px 0px 0px 35%;
    pointer-events: all;

    margin-top: var(--app-spacing-3);
    margin-bottom: var(--app-spacing-3);
}

.page-settings > .content .input-text { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;}
.page-settings > .content .input-text > label { flex: 1; }
.page-settings > .content .input-text > input { flex: 3; margin: 0px 8px; }

.page-settings > .content .input-image-profile
{
    height: 256px;
    position: relative;
}
.page-settings > .content .input-image-profile > img:nth-child(1)
{
    position: absolute; inset: 0px;
    outline: 1px solid grey;
    border: none;
    border-radius: 24px;
    background-color: var(--bg-secondary);

    object-fit: cover;
}
.page-settings > .content .input-image-profile > img:nth-child(2)
{
    position: absolute; inset: 0px;
    outline: 2px solid white;
    background-color: white;
    border-radius: 100%;
    margin: auto;

    object-fit: cover;
}
.page-settings > .content .input-image-profile-upload
{
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    gap: 12px;
}

@media (max-width: 720px)
{
    .page-settings .menu { display: none; }
    .page-settings .content { inset: 0px; }
    .page-settings .content > * { margin: 0px 24px; }
}