/*
    พื้นที่สำหรับ CSS ที่โค็ดทั้งหมดในไฟล์จะมีผลต่อทุกหน้า (page)
    ดังนั้นจงระวังไว้ และใช้อย่างชาญฉลาด 
*/


#app
{
    display: block;
    
    width: 100%;
    height: 100%;
}
#app.theme-light
{
    color-scheme: light;

    --app-bg-1:  #ffffff;
    --app-bg-2:  #bcf3d3;
    --app-bg-3:  #8ABEB9;
    --app-bg-border-1: 2px solid rgb(64, 64, 64);
    --app-bg-border-2: 2px solid rgb(36, 106, 96);
    --app-bg-border-3: 2px solid rgb(90, 220, 200);

    --app-bg-radius-1: 8px;
    --app-bg-radius-2: 8px;
    --app-bg-radius-3: 8px;

    --app-text-1: #083630;
    --app-text-2: #0f9f8c;
    --app-text-3: #001C30;
    --app-text-warning: #a47d43;
    --app-text-caution: #eb6d62;
    --app-text-highlight: #3a699f;

    --app-link: #3a699f;
    --app-link-hover: #86a3c4;
    --app-link-active: #2c3f55;
    --app-link-disabled: #3a699f;
    
    --app-size-h1: 2.00rem;
    --app-size-h2: 1.50rem;
    --app-size-h3: 1.25rem;
    --app-size-h4: 1.00rem;
    --app-size-h5: 0.75rem;
    --app-size-h6: 0.50rem;
    --app-size-text: 1.00rem;

    --app-spacing-1: 24px;
    --app-spacing-2: 12px;
    --app-spacing-3: 8px;
    --app-spacing-4: 4px;

    --app-button-1-bg: #387a55;
    --app-button-1-bg-hover: #266341;
    --app-button-1-bg-active: #164029;
    --app-button-1-bg-disabled: #164029;
    --app-button-1-border: 0px solid #387a55;
    --app-button-1-border-hover: 0px solid #387a55;
    --app-button-1-border-active: 0px solid #387a55;
    --app-button-1-border-disabled: 0px solid #387a55;
    --app-button-1-outline: 0px solid #387a55;
    --app-button-1-outline-hover: 0px solid #387a55;
    --app-button-1-outline-active: 0px solid #387a55;
    --app-button-1-outline-disabled: 0px solid #387a55;
    --app-button-1-radius: 8px;
    --app-button-1-radius-hover: 8px;
    --app-button-1-radius-active: 8px;
    --app-button-1-radius-disabled: 8px;
    --app-button-1-padding: 12px;
    --app-button-1-text: #ffffff;
    --app-button-1-text-hover: #ffffff;
    --app-button-1-text-active: #ffffff;
    --app-button-1-text-disabled: #ffffff;
    --app-button-1-image-filter: invert();
    --app-button-1-image-filter-hover: invert();
    --app-button-1-image-filter-active: invert();
    --app-button-1-image-filter-disabled: invert();

    --app-button-2-bg: #387a55;
    --app-button-2-bg-hover: #266341;
    --app-button-2-bg-active: #164029;
    --app-button-2-bg-disabled: #164029;
    --app-button-2-border: 0px solid #387a55;
    --app-button-2-border-hover: 0px solid #387a55;
    --app-button-2-border-active: 0px solid #387a55;
    --app-button-2-border-disabled: 0px solid #387a55;
    --app-button-2-outline: 0px solid #387a55;
    --app-button-2-outline-hover: 0px solid #387a55;
    --app-button-2-outline-active: 0px solid #387a55;
    --app-button-2-outline-disabled: 0px solid #387a55;
    --app-button-2-radius: 8px;
    --app-button-2-radius-hover: 8px;
    --app-button-2-radius-active: 8px;
    --app-button-2-radius-disabled: 8px;
    --app-button-2-padding: 8px;
    --app-button-2-text: #ffffff;
    --app-button-2-text-hover: #ffffff;
    --app-button-2-text-active: #ffffff;
    --app-button-2-text-disabled: #ffffff;
    --app-button-2-image-filter: invert();
    --app-button-2-image-filter-hover: invert();
    --app-button-2-image-filter-active: invert();
    --app-button-2-image-filter-disabled: invert();

    --app-button-warning-bg:#bfa156;
    --app-button-warning-bg-hover: #a48945;
    --app-button-warning-bg-active: #665221;
    --app-button-warning-bg-disabled: #5c584e;
    --app-button-warning-border: 0px solid #387a55;
    --app-button-warning-border-hover: 0px solid #387a55;
    --app-button-warning-border-active: 0px solid #387a55;
    --app-button-warning-border-disabled:0px solid #387a55;
    --app-button-warning-outline: 0px solid #387a55;
    --app-button-warning-outline-hover: 0px solid #387a55;
    --app-button-warning-outline-active: 0px solid #387a55;
    --app-button-warning-outline-disabled: 0px solid #387a55;
    --app-button-warning-radius: 8px;
    --app-button-warning-radius-hover: 8px;
    --app-button-warning-radius-active: 8px;
    --app-button-warning-radius-disabled: 8px;
    --app-button-warning-padding: 8px;
    --app-button-warning-text: #ffffff;
    --app-button-warning-text-hover: #ffffff;
    --app-button-warning-text-active: #ffffff;
    --app-button-warning-text-disabled: #ffffff;
    --app-button-warning-image-filter: invert();
    --app-button-warning-image-filter-hover: invert();
    --app-button-warning-image-filter-active: invert();
    --app-button-warning-image-filter-disabled: invert();

    --app-button-caution-bg: #bf5656;
    --app-button-caution-bg-hover: #a44545;
    --app-button-caution-bg-active:  #662121;
    --app-button-caution-bg-disabled: #5c4e4e;
    --app-button-caution-border: 0px solid #387a55;
    --app-button-caution-border-hover: 0px solid #387a55;
    --app-button-caution-border-active: 0px solid #387a55;
    --app-button-caution-border-disabled: 0px solid #387a55;
    --app-button-caution-outline: 0px solid #387a55;
    --app-button-caution-outline-hover: 0px solid #387a55;
    --app-button-caution-outline-active: 0px solid #387a55;
    --app-button-caution-outline-disabled: 0px solid #387a55;
    --app-button-caution-radius: 8px;
    --app-button-caution-radius-hover: 8px;
    --app-button-caution-radius-active: 8px;
    --app-button-caution-radius-disabled: 8px;
    --app-button-caution-padding: 8px;
    --app-button-caution-text: #ffffff;
    --app-button-caution-text-hover: #ffffff;
    --app-button-caution-text-active: #ffffff;
    --app-button-caution-text-disabled: #ffffff;
    --app-button-caution-image-filter: invert();
    --app-button-caution-image-filter-hover: invert();
    --app-button-caution-image-filter-active: invert();
    --app-button-caution-image-filter-disabled: invert();

    --app-button-outlined-1-bg: transparent;
    --app-button-outlined-1-bg-hover: #266341;
    --app-button-outlined-1-bg-active: #164029;
    --app-button-outlined-1-bg-disabled: #164029;
    --app-button-outlined-1-border: 0px solid #387a55;
    --app-button-outlined-1-border-hover: 0px solid #387a55;
    --app-button-outlined-1-border-active: 0px solid #387a55;
    --app-button-outlined-1-border-disabled: 0px solid #387a55;
    --app-button-outlined-1-outline: 0px solid #387a55;
    --app-button-outlined-1-outline-hover: 0px solid #387a55;
    --app-button-outlined-1-outline-active: 0px solid #387a55;
    --app-button-outlined-1-outline-disabled: 0px solid #387a55;
    --app-button-outlined-1-radius: 8px;
    --app-button-outlined-1-radius-hover: 8px;
    --app-button-outlined-1-radius-active: 8px;
    --app-button-outlined-1-radius-disabled: 8px;
    --app-button-outlined-1-padding: 12px;
    --app-button-outlined-1-text: #083630;
    --app-button-outlined-1-text-hover: #ffffff;
    --app-button-outlined-1-text-active: #ffffff;
    --app-button-outlined-1-text-disabled: #ffffff;
    --app-button-outlined-1-image-filter: none;
    --app-button-outlined-1-image-filter-hover: invert();
    --app-button-outlined-1-image-filter-active: invert();
    --app-button-outlined-1-image-filter-disabled: invert();

    --app-checkbox-bg: transparent;
    --app-checkbox-bg-hover: transparent;
    --app-checkbox-bg-active: transparent;
    --app-checkbox-bg-disabled: transparent;
    --app-checkbox-border: none;
    --app-checkbox-border-hover: none;
    --app-checkbox-border-active: none;
    --app-checkbox-border-disabled: none;
    --app-checkbox-outline: 2px solid grey;
    --app-checkbox-outline-hover: 2px solid grey;
    --app-checkbox-outline-active: 2px solid grey;
    --app-checkbox-outline-disabled: 2px solid grey;
    --app-checkbox-radius: 8px;
    --app-checkbox-radius-hover: 8px;
    --app-checkbox-radius-active: 8px;
    --app-checkbox-radius-disabled: 8px;

    --app-menubar-bg: none;
    --app-menubar-bg-hover: none;
    --app-menubar-bg-active: #5d907f;
    --app-menubar-bg-disabled: none;
    --app-menubar-border: none;
    --app-menubar-border-hover: none;
    --app-menubar-border-active: none;
    --app-menubar-border-disabled: none;
    --app-menubar-radius: 8px;
    --app-menubar-radius-hover: 8px;
    --app-menubar-radius-active: 8px;
    --app-menubar-radius-disabled: 8px;
    --app-menubar-outline: 1px solid transparent;
    --app-menubar-outline-hover: 1px solid #266341;
    --app-menubar-outline-active: 1px solid #5d907f;
    --app-menubar-outline-disabled: none;
    --app-menubar-text: #083630;
    --app-menubar-text-hover: #083630;
    --app-menubar-text-active: none;
    --app-menubar-text-disabled: none;
    --app-menubar-image-filter: none;
    --app-menubar-image-filter-hover: none;
    --app-menubar-image-filter-active: none;
    --app-menubar-image-filter-disabled: none;
    
    --app-menubar-toggled-bg: #427463;
    --app-menubar-toggled-bg-hover: #5d907f;
    --app-menubar-toggled-bg-active: #427463;
    --app-menubar-toggled-bg-disabled: #414a47;
    --app-menubar-toggled-border: none;
    --app-menubar-toggled-border-hover: none;
    --app-menubar-toggled-border-active: none;
    --app-menubar-toggled-border-disabled: none;
    --app-menubar-toggled-radius: 8px;
    --app-menubar-toggled-radius-hover: 8px;
    --app-menubar-toggled-radius-active: 8px;
    --app-menubar-toggled-radius-disabled: 8px;
    --app-menubar-toggled-outline: none;
    --app-menubar-toggled-outline-hover: none;
    --app-menubar-toggled-outline-active: none;
    --app-menubar-toggled-outline-disabled: none;
    --app-menubar-toggled-text: #FFFFFF;
    --app-menubar-toggled-text-hover: #FFFFFF;
    --app-menubar-toggled-text-active: #FFFFFF;
    --app-menubar-toggled-text-disabled: #FFFFFF;
    --app-menubar-toggled-image-filter: invert();
    --app-menubar-toggled-image-filter-hover: invert();
    --app-menubar-toggled-image-filter-active: invert();
    --app-menubar-toggled-image-filter-disabled: invert();

    --app-tagbar-radius: 24px;
    --app-tagbar-padding: 12px;
    --app-tagbar-gap: 8px;
    --app-tagbar-min-width: 128px;
    --app-tagbar-min-height: unset;

    --app-tagbar-unselected-bg: transparent;
    --app-tagbar-unselected-bg-hover: transparent;
    --app-tagbar-unselected-bg-active: transparent;
    --app-tagbar-unselected-bg-disabled: transparent;
    --app-tagbar-unselected-border: 2px solid #5d907f;
    --app-tagbar-unselected-border-hover: 2px solid #315c4d;
    --app-tagbar-unselected-border-active: 2px solid #1f3a31;
    --app-tagbar-unselected-border-disabled: 2px solid #5d907f;
    --app-tagbar-unselected-outline: none;
    --app-tagbar-unselected-outline-hover: none;
    --app-tagbar-unselected-outline-active: none;
    --app-tagbar-unselected-outline-disabled: none;
    --app-tagbar-unselected-text: #083630;
    --app-tagbar-unselected-text-hover: #083630;
    --app-tagbar-unselected-text-active: #083630;
    --app-tagbar-unselected-text-disabled: #083630;
    --app-tagbar-selected-bg: #3c695a;
    --app-tagbar-selected-bg-hover: #34715e;
    --app-tagbar-selected-bg-active: #5d907f;
    --app-tagbar-selected-bg-disabled: #5d907f;
    --app-tagbar-selected-border: 2px solid #3c695a;
    --app-tagbar-selected-border-hover: 2px solid #34715e;
    --app-tagbar-selected-border-active: 2px solid #5d907f;
    --app-tagbar-selected-border-disabled: 2px solid #5d907f;
    --app-tagbar-selected-outline: none;
    --app-tagbar-selected-outline-hover: none;
    --app-tagbar-selected-outline-active: none;
    --app-tagbar-selected-outline-disabled: none;
    --app-tagbar-selected-text: #FFFFFF;
    --app-tagbar-selected-text-hover: #FFFFFF;
    --app-tagbar-selected-text-active: #FFFFFF;
    --app-tagbar-selected-text-disabled: #FFFFFF;

    --app-input-bg: #DDF4E7;
    --app-input-bg-hover: #c4edd6;
    --app-input-bg-active: #a3ceb6;
    --app-input-bg-disabled:#95b895;
    --app-input-border: 1px solid grey;
    --app-input-border-hover: 1px solid grey;
    --app-input-border-active: 1px solid grey;
    --app-input-border-disabled: 1px solid grey;
    --app-input-outline: none;
    --app-input-outline-hover: none;
    --app-input-outline-active: none;
    --app-input-outline-disabled: none;
    --app-input-radius: 8px;
    --app-input-radius-hover: 8px;
    --app-input-radius-active: 8px;
    --app-input-radius-disabled: 8px;
    --app-input-padding: 8px;
    --app-input-text: #083630;
    --app-input-text-hover: #083630;
    --app-input-text-active: #083630;
    --app-input-text-disabled: #083630;
    --app-input-placeholder: #083630;
    --app-input-placeholder-hover: #083630;
    --app-input-placeholder-active: #083630;
    --app-input-placeholder-disabled: #083630;

    --app-table-bg: transparent;
    --app-table-padding: 12px;
    --app-table-border: 2px solid grey;

    --app-table-click-bg: #427463;
    --app-table-click-text: #FFFFFF;
    --app-table-click-bg-active: #1e5744;
    --app-table-click-text-active: #FFFFFF;

    --app-table-head-bg:        #aee9e1;
    --app-table-head-border:    rgb(55, 113, 133);
    --app-table-head-color:     #000000;
    --app-table-odd-bg:         rgba(0,0,0,0);
    --app-table-odd-border:     rgb(55, 113, 133);
    --app-table-odd-color:      rgb(0,0,0);
    --app-table-even-bg:        rgba(0,0,0,0);
    --app-table-even-border:    rgb(55, 113, 133);
    --app-table-even-color:     rgb(0,0,0);
}
#app.theme-dark
{
    color-scheme: dark;
}