/*
    พื้นที่สำหรับ CSS ที่โค็ดทั้งหมดในไฟล์จะมีผลต่อทุกหน้า (page)
    ดังนั้นจงระวังไว้ และใช้อย่างชาญฉลาด 
*/

#app
{
    --bg-primary: #ECF4E8;
    --bg-secondary: #D6F4ED;

    --text-primary: #06202B;
    --text-secondary: #001C30;

    --text-warning: #e9491c;
    --text-danger: #c03a3a;

    --btn-normal-bg: #DDF4E7;
    --btn-normal-text: #06202B;
    --btn-normal-outline: 1px solid grey;

    --btn-hover-bg: #c4edd6;
    --btn-hover-text: #06202B;
    --btn-hover-outline: 1px solid grey;
}
#app > .navigation
{
    position: absolute;
    inset: 0px 0px auto 0px;

    height: 100%; max-height: 56px;
    overflow: hidden; outline: none;
    
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    border: 0px;
    outline: 1px solid #87BAC3;
}
#app > .outlet
{
    position: absolute;
    inset: 56px 0px 0px 0px;
    overflow: hidden auto;

    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/*
    ข้อความ (h1 -> h6, label, paragraph)
*/

h1, h2, h3, h4, h5, h6, label, p
{
    margin: 0px; padding: 0px;
    background-color: transparent; color: var(--text-primary);
    border: none; outline: none;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}

h1 
{
    margin: 0px; padding: 0px;
    /* font-size: 2rem; */
    font-weight: bold;
}
h2
{
    margin: 0px; padding: 0px;
    /* font-size: 1.5rem; */
    font-weight: bold;
}
h3
{
    margin: 0px; padding: 0px;
}

button
{
    margin: 0px;
    padding: 8px;

    border-radius: 12px;
    border: none;
    outline: none;

    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
button:enabled  
{
    color: var(--btn-normal-text);
    outline: var(--btn-normal-outline);
    background-color: var(--btn-normal-bg);
}
button:enabled:hover, button:enabled:focus
{
    color: var(--btn-hover-text);
    outline: var(--btn-hover-outline);
    background-color: var(--btn-hover-bg);
}
button:enabled:active
{
    background-color: #bfe7db;
}

input
{
    margin: 0px; padding: 8px 12px;
    font-size: 1rem;

    border: none;
    border-radius: 12px;
    outline: 1px solid grey;

    background-color: var(--bg-primary);
    color: var(--text-primary);
}
input::selection
{
    background-color: rgb(72, 121, 72);
    color: rgb(237, 255, 234);
}

table
{
    width: 100%;
    border-collapse: collapse;
}
table td
{
    padding: 8px;
    border: 1px solid black;
}