/*
    พื้นที่สำหรับ CSS ที่โค็ดทั้งหมดในไฟล์จะมีผลต่อทุกหน้า (page)
    ดังนั้นจงระวังไว้ และใช้อย่างชาญฉลาด 
*/

#app
{
    --bg-primary:       #ECF4E8; /* พื้นหลังหลัก        */
    --bg-secondary:     #D6F4ED; /* พื้นหลังรอง        */
    --bg-tertiary:      #D6F4ED; /* พื้นหลังรอง รอง    */

    
    --text-primary:     #06202B; /* สีข้อความหลัก */
    --text-secondary:   #001C30; /* สีข้อความรอง */

    --text-warning:     #e9491c; /* สีข้อความ (เตือน) */
    --text-danger:      #c03a3a; /* สีข้อความ (อันตราย) */

    --text-link:        #e9491c; /* สีข้อความ (ลิงค์)*/
    --text-link-hover:  #e9491c; /* สีข้อความ (ลิงค์)*/
    --text-link-active: #e9491c; /* สีข้อความ (ลิงค์)*/
    --text-link-disabled: #e9491c; /* สีข้อความ (ลิงค์)*/

    --text-size-h1:     2.00rem;    /* 32px */
    --text-size-h2:     1.50rem;    /* 24px */
    --text-size-h3:     1.25rem;    /* 20px */
    --text-size-h4:     1.00rem;    /* 16px */
    --text-size-h5:     0.75rem;    /* 12px */
    --text-size-h6:     0.50rem;    /* 8px */

    --btn-normal-bg:    #DDF4E7;
    --btn-normal-text:  #06202B;
    --btn-normal-outline: 1px solid grey;

    --btn-hover-bg: #c4edd6;
    --btn-hover-text: #06202B;
    --btn-hover-outline: 1px solid grey;

    --btn-active-bg: green;
}

.app-theme-light
{
    --app-background-primary:   #ECF4E8;
    --app-background-secondary: #D6F4ED;
    --app-background-tertiary:  #b7d4cd;

    --app-outline-primary:      1px solid grey;
    --app-outline-secondary:    1px solid grey;
    --app-outline-tertiary:     1px solid grey;

    --app-text-primary:         #06202B;
    --app-text-secondary:       #001C30;
    --app-text-highlight:       #3a699f;

    --app-text-h1-size:         2.00rem;
    --app-text-h1-color:        var(--app-text-primary);
    --app-text-h1-weight:       bolder;

    --app-text-h2-size:         1.50rem;
    --app-text-h2-color:        var(--app-text-primary);
    --app-text-h2-weight:       bold;

    --app-text-h3-size:         1.25rem;
    --app-text-h3-color:        var(--app-text-primary);
    --app-text-h3-weight:       bold;

    --app-text-h4-size:         1.00rem;
    --app-text-h4-color:        var(--app-text-primary);
    --app-text-h4-weight:       bold;

    --app-text-h5-size:         0.75rem;
    --app-text-h5-color:        var(--app-text-primary);
    --app-text-h5-weight:       bold;

    --app-text-h6-size:         0.50rem;
    --app-text-h6-color:        var(--app-text-primary);
    --app-text-h6-weight:       bold;
    
    /* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

    --app-text-link-size:                   1.00rem;
    --app-text-link-color:                  var(--app-text-highlight);
    --app-text-link-weight:                 normal;
    --app-text-link-decoration:             underline;

    --app-text-link-hover-size:             1.00rem;
    --app-text-link-hover-color:            var(--app-text-highlight);
    --app-text-link-hover-weight:           normal;
    --app-text-link-hover-decoration:       underline;

    --app-text-link-active-size:            1.00rem;
    --app-text-link-active-color:           var(--app-text-highlight);
    --app-text-link-active-weight:          normal;
    --app-text-link-active-decoration:      underline;

    --app-text-link-disabled-size:          1.00rem;
    --app-text-link-disabled-color:         var(--app-text-highlight);
    --app-text-link-disabled-weight:        normal;
    --app-text-link-disabled-decoration:    underline;

    /* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


    --app-text-size:            1.00rem;
    --app-text-color:           var(--app-text-primary);
    --app-text-weight:          normal;
    
    --app-button-normal-background:     #DDF4E7;
    --app-button-normal-text:           var(--app-text-primary);
    --app-button-normal-outline:        1px solid grey;
    --app-button-normal-radius:         12px;
    --app-button-normal-padding:        8px;

    --app-button-hover-background:      #c4edd6;
    --app-button-hover-text:            var(--app-text-primary);
    --app-button-hover-outline:         1px solid grey;
    --app-button-hover-radius:          12px;
    --app-button-hover-padding:         8px;

    --app-button-active-background:     #a3ceb6;
    --app-button-active-text:           var(--app-text-primary);
    --app-button-active-outline:        1px solid grey;
    --app-button-active-radius:         12px;
    --app-button-active-padding:        8px;

    --app-button-disabled-background:   #95b895;
    --app-button-disabled-text:         var(--app-text-primary);
    --app-button-disabled-outline:      1px solid grey;
    --app-button-disabled-radius:       4px;
    --app-button-disabled-padding:      8px;
}
#app-theme-dark
{

}

#app > .navigation
{
    position: absolute;
    inset: 0px 0px auto 0px;

    height: 100%; max-height: 56px;
    overflow: hidden; outline: none;
    
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    border: 0px;
    outline: 1px solid #87BAC3;
}
#app > .outlet
{
    position: absolute;
    inset: 56px 0px 0px 0px;
    overflow: hidden auto;

    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/*
    ข้อความ (h1 -> h6, label, paragraph)
*/

h1, h2, h3, h4, h5, h6, label, p
{
    margin: 0px; padding: 0px;
    background-color: transparent; color: var(--text-primary);
    border: none; outline: none;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
}

h1 
{
    margin: 0px; padding: 0px;
    font-size: 2rem;
    font-weight: bold;
}
h2
{
    margin: 0px; padding: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}
h3
{
    margin: 0px; padding: 0px;
    font-size: 1.25rem;
    font-weight: bold;
}

button
{
    margin: 0px;
    padding: 8px;

    border-radius: 12px;
    border: none;
    outline: none;

    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
button:enabled  
{
    color: var(--btn-normal-text);
    outline: var(--btn-normal-outline);
    background-color: var(--btn-normal-bg);
}
button:enabled:hover, button:enabled:focus
{
    color: var(--btn-hover-text);
    outline: var(--btn-hover-outline);
    background-color: var(--btn-hover-bg);
}
button:enabled:active
{
    background-color: #bfe7db;
}

input
{
    margin: 0px; padding: 8px 12px;
    font-size: 1rem;

    border: none;
    border-radius: 12px;
    outline: 1px solid grey;

    background-color: var(--bg-primary);
    color: var(--text-primary);
}
input::selection
{
    background-color: rgb(72, 121, 72);
    color: rgb(237, 255, 234);
}

table
{
    width: 100%;
    border-collapse: collapse;
}
table td
{
    padding: 8px;
    border: 1px solid black;
}