
.page-console
{
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: var(--app-background-primary);
}
.page-console > .navbar
{
    position: relative;
    width: 100%; 
    height: 56px;
    overflow: hidden;

    margin: 0px; padding: 0px;
}
.page-console > .body
{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.page-console > .overlay    
{
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    inset: 0;
    width: 100%;
    height: 100%;
}
.page-console > .overlay > *
{
    pointer-events: all;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


.page-console > .body > .menu
{
    pointer-events: none;
    position: absolute;
    inset: 0;
}
.page-console > .body > .menu > .pivot
{
    margin: 0px auto;
    max-width: 224px;
}
.page-console > .body > .menu > .pivot > *
{
    pointer-events: all;
    transform: translateX(-135mm);
    width: 100%;
}
.page-console > .body > .menu > .pivot > *:first-child
{
    margin-top: 24px;
}
.page-console > .body > .menu > .pivot > *:last-child
{
    margin-bottom: 24px;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


.page-console > .body > .content
{
    pointer-events: none;
    position: absolute;
    inset: 0px;
    height: 100%;
    overflow: hidden scroll;
}
.page-console > .body > .content > *
{
    pointer-events: all;
    margin: 0px auto;
    padding: 0px 24px;
    max-width: 210mm;
}
.page-console > .body > .content > *
{
    margin-top: 24px;
    margin-bottom: 24px;
}
.page-console > .body > .content > *
{
    animation: page-console-show-content 750ms cubic-bezier(0.16, 1, 0.3, 1) 0ms 1 forwards;
}

@keyframes page-console-show-content
{
    from { 
        opacity: 0; 
        transform: scale(0.75)
    }
    to { 
        opacity: 1; 
        transform: scale(1.0)
    }
}


/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-console > .body > .content > .dashboard .element
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--app-spacing-1);

    justify-content: center;
}
.page-console > .body > .content > .dashboard .element-text
{
    background-color: var(--app-background-secondary);
    border-radius: var(--app-radius-1);
    border: var(--app-border-primary);

    padding: var(--app-spacing-2);

    width: 192px; height: 192px;
    text-align: center;
}
.page-console > .body > .content > .dashboard .element-text > :nth-child(1)
{
    font-size: var(--app-size-label);
    font-weight: normal;
}
.page-console > .body > .content > .dashboard .element-text > :nth-child(3)
{
    font-size: calc(var(--app-size-h1) * 2);
    font-weight: bold;
}

@media (max-width: 640px)
{
    .page-console > .body > .content > .dashboard .element-text
    {
        width: 144px; height: 144px;
    }
    .page-console > .body > .content > .dashboard .element-text > :nth-child(3)
    {
        font-size: var(--app-size-h1);
    }
}
@media (max-width: 512px)
{
    .page-console > .body > .content > .dashboard .element-text
    {
        width: 96px; height: auto;
    }
    .page-console > .body > .content > .dashboard .element-text > :nth-child(3)
    {
        font-size: var(--app-size-h2);
    }
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-console > .body > .content > .account-overlay
{
    position: absolute; inset: 0px 0px 0px 0px;
    margin: 0px; padding: 0px;
    width: 100%; height: 100%;
    max-width: 100%;

    z-index: 1;
    pointer-events: none;
}