
.page-job
{
    position: absolute; inset: 0px;
    overflow: hidden;
    background-color: var(--app-background-primary);
}


/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-job > .selection
{
    position: absolute; inset: 0px;
    overflow: hidden scroll;

    animation-name: selection-init;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
}
.page-job > .selection > *
{
    max-width: 152mm;
    padding: 0px var(--app-spacing-3);
    margin: 0px auto;
}
.page-job > .selection > .filter
{
    width: 100%;
}
.page-job > .selection > .filter > .filter-item
{
    width: 96px;
    margin: 4px;
}

.page-job > .selection > .list
{
    width: 100%;
}
.page-job > .selection > .list > .list-item
{
    display: block;
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 128px;
    margin-bottom: 4px;
}
.page-job .list-item .image
{
    position: absolute;
    inset: 0px 0px 0px 24px;
    margin: auto 0px;

    width: 96px; height: 96px;
}
.page-job .list-item .title
{
    position: absolute;
    inset: 0px 0px 0px 0px;
    margin: 12px 12px 0px 144px;
    text-align: left;

    color: var(--text-primary);
}
.page-job .list-item .description
{
    position: absolute;
    inset: 0px 0px 0px 0px;
    margin: 48px 12px 0px 144px;
    text-align: left;
    text-overflow: ellipsis;

    color: var(--app-text-secondary);
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.page-job > .content
{
    position: absolute; inset: 0;
    overflow: hidden scroll;

    animation-name: none;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
}
.page-job > .content > *
{
    max-width: 152mm;
    padding: 0px var(--app-spacing-3);
    margin: 0px auto;
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

@keyframes selection-init 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes selection-enter 
{
    0% { 
        opacity: 0; 
        transform: scale(1.25);
    }
    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes selection-exit 
{
    0% { 
        transform: scale(1); 
        opacity: 1; 
    }
    100% { 
        transform: scale(1.25); 
        opacity: 0; 
    }
}

@keyframes content-enter 
{
    0% {
        display: block; 
        pointer-events: all;
        transform: scale(0.75); 
        opacity: 0; 
    }
    100% { 
        display: block; 
        transform: scale(1); 
        opacity: 1; 
    }
}
@keyframes content-exit 
{
    0% {  
        opacity: 1;
    }
    100% 
    {
        opacity: 0; 
        display: none; 
        pointer-events: none;
        transform: scale(0.75);
    }
}